section.text
	p <a class="button" href="#contact"><mark class="long highlight-contact">i'm trying to make it easier for voters to find out what their representatives are doing and make their opinions heard. if you want to help let's talk.</a>
	p: span#tagline coherent,<br>context-aware<br>product design
	p hello friend. i'm imogen
	br
	p i'm a product designer at <a href="https://axios.com" target="_blank">axios,</a>
	p.indent decent front-end dev,
	p.indent lazy musician,
	p.indent and <a href="https://glossier.com" target="_blank">glossier</a> fangirl.
	br
	p my nights and weekends are spent on that political project <span class="hint">(look up)</span>, learning the phoenix framework, working on launching <a class="button" href="#contact"><mark class="highlight-contact">halala,</a> <mark class="redacted">[redacted],</mark> and an album.
	p previously i was running design, creative, documentary, and local systems at the <a class="button" href="#design-product-fresco"><mark class="highlight-design">content mines,</a> and i've done some other neat things like this <a class="button" href="#design-product-straightkey"><mark class="highlight-design">morse code sms app.</a>
	br
	/this fixes the highlighting'
	p <a class="button" href="#contact"><mark class="highlight-contact">say hi</mark></a> if you want to collaborate on music or give me money to do things.
	br
	p.hint this site is open source. feel free to <a href="https://github.com/imogennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn/fyi" target="_blank">fork the repo</a> for personal use.
