doctype html
html
	<!-- @reload -->
	head
		title imogen
		meta name="keywords" content="creative director,product designer,ui designer,ux designer"
		meta name="author" content="Imogen Olsen"
		meta name="viewport" content="initial-scale=1.0, width=device-width"
		link rel="icon" type="image/png" href="@path favicon.ico"
		link rel="stylesheet" type="text/css" href="@path normalize.css"
		link rel="stylesheet" type="text/css" href="@path style.css"
		link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i"
		script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"
	body
		header.pages
			a.c.button.page href="#" imogen
			nav
				a.c.button.page.inactive#button-design href="#page-design" design
				//a.c.button.page.inactive#button-photo href="#page-photo" photo
				a.c.button.page.inactive#button-music href="#page-music" music
			a.c.button#button-contact href="#contact" contact
		main
			section
				section.text
					p hi i'm imogen
					p i turn good ideas into good things
					p i still need to add a bunch of things to this. in the meantime check out <a class="button" href="#design-product-straightkey"><mark class="highlight-design">straightkey,</mark></a> it's one of my favs
					//'
					p i'm also available for design & front-end dev work so <a class="button" href="#contact"><mark class="highlight-contact">hmu</mark></a>
					p <br>~<br><br>
					p if you're wondering, this site is a static single-page app written in slim & sass from scratch and hosted on s3. <a href="https://github.com/imogennnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn/fyi" target="_blank">the source is public.</a>
			section.inactive
				section#design-product
					header.c.header product
					ul.cards
						li
							a.c.button href="#design-product-fresco" fresco
							div.c.card: img src="@path thumb-fresco"
						li
							a.c.button href="#design-product-beanthere" beanthere
							div.c.card: img src="@path thumb-beanthere"
						li
							a.c.button href="#design-product-straightkey" straightkey
							div.c.card: img src="@path thumb-straightkey"
						//li
							a.c.button href="#design-product-zilpapp" zilpapp
							div.c.card: img src="@path thumb-zilpapp"
						li
							a.c.button href="#design-product-real" real
							div.c.card: img src="@path thumb-real"
				//section#design-graphic
					| graphic
					li (fresco)
					li (imogen)
					li (cuddle)
			//section.inactive
				header.c.header galleries
				ul.cards
					li commercial
					li no
					li plase don't
			section.narrow.inactive
				header.c.header latest
				div
					iframe width="100%" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313200093&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
					iframe width="100%" height="272" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/264592573&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
					iframe width="100%" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/189958524&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
		article.c.dialog.inactive style="display:none;"
		script src="@path jquery-1.8.3.min.js"
		script src="@path autosize.min.js"
		script src="@path select2.min.js"
		javascript:
			function setInactiveCards() {
				$(".cards li").each(function() {
					var gutter = 0;
					if ($(this).position().left + $(this).width() + gutter >= $(this).closest("section").width() || $(this).position().left < 0) {
						$(this).addClass("inactive");//.find(".button").prop("disabled", true);
					} else {
						$(this).removeClass("inactive");//.find(".button").prop("disabled", false);
					};
				});
			};
			function openDialog(target) {
				$("article").load("pages/" + target + ".html", function() {
					$("article").css("display", "");
					setTimeout(function() {
						$("article").removeClass("inactive").on("transitionend", function() {
							setInactiveCards();
							$("article").off("transitionend", false);
						});
					}, 20);
				})
			};
			//do the stuff
			$(document).ready(function() {
				//INIT
				//prevent .load() from caching locally
				$.ajax({ headers: { "Cache-Control": "max-age=0" } })
				//open dialog if url is fancy
				var hash = window.location.hash;
				if (hash) {
					var target = hash.split("#")[1];
					if (target.split("-")[0] == "page") {
						var page_index = $(".pages .page").index($("[href='#" + target + "']"));
						$(".pages .page:not(.inactive)").addClass("inactive");
						$(".pages .page").eq(page_index).removeClass("inactive");
						$("body > main").children("section:not('.inactive')").addClass("inactive").siblings().andSelf().eq(page_index).removeClass("inactive");
						setInactiveCards();
					} else {
						openDialog(target);
					}
				};
				//cards
				setInactiveCards();
				//EVENTS
				//switch tabs
				$(".pages").on("click", ".inactive", function() {
					var page_index = $(".pages .page").index($(this));
					$(".pages .page:not(.inactive)").addClass("inactive");
					$(this).removeClass("inactive");
					$("body > main").children("section:not('.inactive')").addClass("inactive").siblings().andSelf().eq(page_index).removeClass("inactive");
					setInactiveCards();
				})
				$("body").on("click", ".tabs .inactive", function() {
					$(this).removeClass("inactive").siblings().addClass("inactive");
					tab_index = $(this).index();
					$(this).closest("section").children(".cards").eq(tab_index).removeClass("inactive").siblings(".cards").addClass("inactive");
				})
				//move cards
				$("body").on("click", ".cards .inactive", function() {
					//get target and transform change
					var transform_change = $(this).position().left;
					var target_index = $(this).index();
					if (transform_change < 0) {
						var section_width = $(this).closest("section").width();
						var width = $(this).width();
						var iterations = 0;
						while (width < section_width) {
							transform_change = $(this).closest(".cards").children().eq(Math.max(0, (target_index - iterations))).position().left;
							iterations++;
							width += $(this).closest(".cards").children().eq(target_index - iterations).width() + 16;
						} 
					}
					if ($(this).closest(".cards").children().first().position().left - transform_change < 0) {
						transform_change -= 16;
					}
					var current_transform = parseInt($(this).siblings(0).css('transform').split(',')[4]);
					current_transform = current_transform || 0
					if (transform_change > 0) {
						var last_element = $(this).closest(".cards").children().last();
						var offset = last_element.position().left - transform_change;
						while (offset + 1 < $(this).closest("section").width() - last_element.width()) {
							transform_change -= 1;
							offset += 1;
						}
					}
					if (offset < $(this).closest("section").width() - $(this).closest(".cards").children().last().width()) {
						transform_change += 32;
					}
					var new_translate = current_transform - transform_change
					//set new transformX() and styles
					$(this).siblings().andSelf().each( function() {
						$(this).css("transform", "translateX(" + (new_translate) + "px)");
						$(this).on("transitionend", function() {
							setInactiveCards();
							$(this).off("transitionend", false);
						});
					});
				});
				//open dialog
				$("body > main").on("click", ".button", function() {
					target = $(this).attr("href").split("#")[1];
					openDialog(target);
				});
				$("#button-contact").on("click", function() {
					openDialog("contact");
				});
				//close dialog
				$("article").on("click", "#button-close", function() {
					$("article").addClass("inactive");
					$("body").on("transitionend", "article", function() {
						$("article").css("display","none");
						$("body").off("transitionend", "article");
						setTimeout(function() {
							history.pushState(null, null, "#");
						}, 10);
					});
				});
			});
