div.io-background-color-blue.io-color-white
  header.io-navbar
    button data-io-navbar="pin-left" data-io-role="close" cancel
    h2 say hi
  main: form
    input type="text" name="name" placeholder="name"
    input type="text" name="email" placeholder="email"
    input type="text" name="subject" placeholder="subject"
    textarea rows="1" name="body" placeholder="body"
    input[type="submit" value="send" disabled]
  javascript:
    autosize(document.querySelector('textarea'));
    (function() {
          emailjs.init("user_saAi537cZJDGOKAyaGs5N");
      })();
    //validate
    $("form").on("keyup", function() {
      var valid = false;
      var valid_email = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/.test(String($("input[name='email']").val()));
        if (valid_email) {
        valid = true;
        $("input[type='text'], textarea").each(function() {
          if ($(this).val().length < 1) {
            valid = false;
            return false;
          }
        });
      }
      valid === true ? $("input[type='submit']").prop("disabled", false) : $("input[type='submit']").prop("disabled", true);
    })
    //send
    $("form").on("submit", function(e) {
      e.preventDefault();
      $(this).find('input[type=submit]').prop('disabled', true);
      var values = {};
      $.each($("form").serializeArray(), function(i, field) {
        values[field.name] = field.value;
      });
      emailjs.send("gmail", "contact", values);
      $("input.button").val("sent!").siblings("input, textarea").prop("disabled", true);
    })
