title: substance

{% extends "project.html" %}
{% block body %}

<section>
	substance is a lightly branded component library for use in fresco's web product. all components correspond to those in google's material design specification, but this had to be designed from scratch because google's designers aren't exactly perfectionists when it comes to the resources they provide.
</section>
<section><figure>
	<img class="row" src="{% static '/images/substance/picker.png' %}">
	<img class="row" src="{% static '/images/substance/button.png' %}">
	<img class="row" src="{% static '/images/substance/slider.png' %}">
	<img class="row" src="{% static '/images/substance/text input (field).png' %}">
	<img class="row" src="{% static '/images/substance/text input (container).png' %}">
	<img class="row" src="{% static '/images/substance/chip.png' %}">
	<img class="row" src="{% static '/images/substance/list item.png' %}">
	<img class="row" src="{% static '/images/substance/tabs.png' %}">
	<img class="row" src="{% static '/images/substance/data table.png' %}">
	<img class="row" src="{% static '/images/substance/dialog.png' %}">
	<img class="row" src="{% static '/images/substance/notification.png' %}">
</figure></section>

{% endblock body %}
