header.io-navbar
  button[class="io-inactive"
         data-link-type="page"
         data-link-target="about"] imogen
  nav
    button[class="io-color-red"
           data-link-type="page"
           data-link-target="design"] design
    button[class="io-inactive io-color-green"
           data-link-type="page"
           data-link-target="music"] music
  button[class="io-color-blue"
         data-link-type="action"
         data-link-target="contact"] say hi
