//global
html {
	height: 100%;
	background-color: #fafafa;
	font-family: "Space Mono", monospace;
	font-size: 13px;
	color: #0c090d;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}
.inactive {
	opacity: .3;
	transition: opacity .3s;
	&:hover {
		opacity: .5
	}
}
li {
	transform: translateX(0px);
	transition: transform .2s;
}

//head
body > header {
	width: 100%;
	padding: 8px 12px;
	display: flex;
	justify-content: space-between;
}
nav {
	padding: 0 4px;
}
#button-design { color: #e01a4f; }
#button-photo {	color: #f15946; }
#button-music {	color: #f9c22e; }
#button-contact { color: #53b3cb; }

//design
#design {
	section {
		width: 640px;
		margin: 0 auto;
	}
	header {
		line-height: 48px;
	}
	ul {
		position: relative;
		margin: 0 -8px;
		padding: 0;
		display: flex;
		flex-wrap: none;
	}
	li {
		margin: 0 8px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:hover {
			cursor: pointer;
			.card {
				box-shadow: 0 4px 4px rgba(0,0,0,.1), 0 0 4px rgba(0,0,0,.05);
			}
		}
	}
	.card {
		order: -1;
		height: 512px;
		img { height: 100%; }
	}
}

//hide
#design-graphic, #photo, #music {
	display: none;
}

//generic components
.c {
	&.button {
		// layout
		display: inline-block;
		margin: 6px 4px;
		padding: 0 8px;
		min-width: 64px;
		// strip defaults
		text-decoration: inherit;
		color: inherit;
		// style
		font-weight: bold;
		font-size: 14px;
		line-height: 36px;
		text-align: center;
	}
	&.card {
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.05);
		transition: box-shadow .15s;
	}
}

/* boilerplate

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  // Styles for mobile

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  // Styles for tablet

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  // Don't forget your Retina CSS!

  body {
    background-size: 72px 72px;
  }

} */
