//global
html {
	height: 100%;
	background-color: #fafafa;
	font-family: "Space Mono", monospace;
	font-size: 14px;
	color: #0c090d;
	overflow-x: hidden;
	perspective: 256px;
	transform-style: preserve-3d;
}
body, article > div { overflow-x: hidden; }
body > main img {
	z-index: -1;
}
* { box-sizing: border-box; }
a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
p {
	max-width: 592px;
	margin: 8px auto;
}
textarea { resize: none; }
iframe { margin-bottom: 11px; }
.hint {
	opacity: .3;
}

//head
body > header {
	width: 100%;
	padding: 4px 8px;
	display: flex;
	justify-content: space-between;
}
nav { padding: 0 4px; }
#button-design { color: #e01a4f; }
#button-photo {	color: #f15946; }
#button-music {	color: #f9c22e; }
#button-contact { color: #53b3cb; }

//general
body > main > section.inactive { display: none; }
.text { padding: 8px 16px; }
#tagline {
	display: inline-block;
	margin-left: -8px;
	font-size: 34px;
	line-height: 40px;
	font-weight: bold;
}

//intro
mark {
	color: #fff;
	&.highlight-design { background-color: #e01a4f; }
	&.highlight-photo { background-color: #f15946; }
	&.highlight-music { background-color: #f9c22e; }
	&.highlight-contact { background-color: #53b3cb; }
}

//contact
form {
	margin: 64px auto 0;
	padding: 0 16px;
	width: 100%;
	header.c.header { padding: 0; }
	input, textarea {
		background-color: transparent;
		border: none;
		color: inherit;
		padding: 14px 0;
		font: inherit;
		line-height: 20px;
		transition: opacity .3s;
		&:disabled {
			cursor: not-allowed;
			opacity: .3;
		}
	}
	input[type="text"], textarea {
		width: 100%;
		&:focus { outline: none; }
		&::placeholder {
			color: inherit;
			opacity: .3;
		}
	}
	input.c.button {
		float: right;
		margin-right: -8px;
	}
}

//cards
.cards {
	position: relative;
	margin: 0 8px 16px;
	padding: 0;
	display: flex;
	&.inactive { display: none; }
	li {
		transform: translateX(0px);
		transition: transform .3s, opacity .3s;
		margin: 0 8px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:hover .card {
			box-shadow: 0 4px 4px rgba(0,0,0,.1), 0 0 4px rgba(0,0,0,.05);
		}
		&.inactive {
			opacity: .3;
			&:hover {
				opacity: .5;
				cursor: pointer;
			}
		}
		&.card, .card {
			height: 384px;
			img { height: 100%; }
			&.wide { height: 180px; }
		}
		.card {
			order: -1;
		}
		.button {
			margin: 6px 8px;
			&:after {
				display: inline-block;
				margin-left: 8px;
				content: " ";
				background-image: url("launch.svg");
				background-size: 16px 16px;
				height: 14px;
				width: 16px;
				opacity: .3;
				transition: opacity .3s;
			}
			&:hover:after { opacity: .7; }
		}
	}
}

//dialog
article {
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	transition-timing-function: ease-in;
	transition: transform .3s, opacity .3s, box-shadow .3s;
	&.inactive.dialog {
		transform: translate3d(0, -8px, -24px);
		transition-timing-function: ease-out;
		opacity: 0;
		box-shadow: 0 0 0 rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.05);
	}
	> div {
		height: 100%;
		position: relative;
		> header {
			position: fixed;
			top: 0;
			width: 100%;
			padding: 4px;
		}
	}
	h2 {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 20px;
		line-height: 56px;
		white-space: nowrap;
	}
	main { margin-top: 64px; }
}

//generic components
.c {
	&.header {
		padding: 0 16px;
		opacity: .7;
		font-weight: bold;
		line-height: 48px;
	}
	&.tabs {
		padding: 6px 8px;
	}
	&.button {
		// layout
		display: inline-block;
		margin: 6px 0;
		padding: 0 8px;
		min-width: 64px;
		// strip defaults
		text-decoration: none;
		color: inherit;
		// style
		font-weight: bold;
		font-size: 14px;
		line-height: 36px;
		text-align: center;
		cursor: pointer;
		&:focus { outline: none; }
		&.inactive {
			opacity: .5;
			transition: opacity .3s;
			&:hover { opacity: initial; }
		}
	}
	&.card {
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.05);
		transition: box-shadow .3s;
	}
	&.dialog {
		//layout
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		//style
		background-color: #fafafa;
		box-shadow: 0 24px 24px rgba(0,0,0,.1), 0 0 24px rgba(0,0,0,.05);
	}
}
/*@media only screen and (max-width: 364px) {
	nav {
		margin: 0 -8px;
	}
	/nav .c.button {
		padding: 0 5px;
		min-width: 0;
	}
}*/
@media only screen and (max-width: 415px) {
	.cards li.card.husky, .cards li .card.husky { height: 320px; }
}
@media only screen and (max-width: 380px) {
	.cards li.card.husky, .cards li .card.husky { height: 256px; }
}
@media only screen and (min-width: 380px) {
	.cards li.card.wide, .cards li .card.wide { height: 190px; }
}
@media only screen and (min-width: 396px) {
	.cards li.card.wide, .cards li .card.wide { height: 200px; }
}
@media only screen and (min-width: 768px) {
	#tagline { margin-left: -16px; }
	iframe { margin-bottom: 19px; }
	section {
		width: 640px;
		margin: 0 auto;
	}
	body > header, article > div > header { padding: 8px 12px; }
	h2 { line-height: 64px; }
	section.text { padding: 8px 24px; }
	.cards {
		margin: 0 -8px 24px;
		li {
			.button { margin: 6px 16px; }
			&.card, .card {
				height: 512px;
				&.wide {
					height: 352px;
				}
			}
		}
	}
	.c {
		&.header { padding: 0 24px; }
		&.tabs { padding: 6px 12px; }
		&.button { margin: 6px 4px; }
	}
	form {
		margin: 72px auto 0;
		padding: 0 24px;
		width: 320px;
		input.c.button { margin-right: 0; }
	}
}
@media only screen and (min-width: 1024px) {
	section:not(.narrow) { width: 896px }
	.cards li.card.wide, .cards li .card.wide { height: 512px; }
}
@media only screen and (min-width: 1280px) {
	html { font-size: 13px; }
	section:not(.narrow) { width: 1042px }
	.cards li.card.wide, .cards li .card.wide { height: 512px; }
}
@media only screen and (min-width: 1440px) {
	section:not(.narrow) { width: 1202px }
	.cards li.card.wide, .cards li .card.wide { height: 512px; }
}
@media only screen and (min-width: 1920px) {
	section:not(.narrow) { width: 1490px }
	.cards li.card, .cards li .card {
		height: 640px;
		&.wide {
			height: 640px;
		}
	}
}
