title: concert

{% extends "gallery.html" %}
{% block body %}

<section>
	<img class="row" src="{% static '/images/concert/dom 1.jpg' %}">
	<img class="row" src="{% static '/images/concert/honeychrome 1.jpg' %}">
	<img class="row" src="{% static '/images/concert/honeychrome 2.jpg' %}">
	<img class="row" src="{% static '/images/concert/lichens 1.jpg' %}">
	<img class="row" src="{% static '/images/concert/lichens 2.jpg' %}">
	<img class="row" src="{% static '/images/concert/baths 1.jpg' %}">
	<div class="row">
		<div><img src="{% static '/images/concert/baths 2.jpg' %}"></div>
		<div><img src="{% static '/images/concert/odonis odonis.jpg' %}"></div>
	</div>
</section>

{% endblock body %}
