title: portrait

{% extends "gallery.html" %}
{% block body %}

<section>
	<img class="row" src="{% static '/images/portrait/aipmip.jpg' %}">
	<div class="row">
		<div><img src="{% static '/images/portrait/rakeesha 1.jpg' %}"></div>
		<div><img src="{% static '/images/portrait/rakeesha 2.jpg' %}"></div>
	</div>
	<img class="row" src="{% static '/images/portrait/rakeesha 3.jpg' %}">
	<img class="row" src="{% static '/images/portrait/rakeesha 4.jpg' %}">
	<img class="row" src="{% static '/images/portrait/michael 1.jpg' %}">
	<img class="row" src="{% static '/images/portrait/michael 2.jpg' %}">
	<img class="row" src="{% static '/images/portrait/michael 3.jpg' %}">
	<img class="row" src="{% static '/images/portrait/jules 1.jpg' %}">
	<img class="row" src="{% static '/images/portrait/jules 2.jpg' %}">
	<div class="row">
		<div><img src="{% static '/images/portrait/gabriel 2.jpg' %}"></div>
		<div><img src="{% static '/images/portrait/gabriel 1.jpg' %}"></div>
	</div>
</section>

{% endblock body %}
