{% extends "base.html" %}
{% block content %}

<main>
	<h1>about</h1>
	<section>
		imogen (that’s me!) is an interdisciplinary control freak based in new york who enthuses over style and taxonomy. she specializes in music, art direction, photography, and digital product design. she is currently chief design officer and local sysadmin at <a href="https://fresconews.com" target="_blank">fresco</a>.
	</section>
	<section>
		<ul>primary skills:
			<li><ul>design /
				<li class="inner">print layout</li>
				<li class="inner">identity</li>
				<li class="inner"><ul>digital product /
					<li class="inner">information architecture</li>
					<li class="inner">user interface</li>
					<li class="inner">user experience </li>
				</ul></li>
			</ul>
			<li><ul>photography /
				<li class="inner"><ul>music /
					<li class="inner">concert</li>
					<li class="inner">promo</li>
				</ul></li>
				<li class="inner">photojournalism</li>
				<li class="inner"><ul>portraiture /
					<li class="inner">editorial</li>
					<li class="inner">environmental</li>
				</ul></li>
				<li class="inner">culinary</li>
			</ul></li>
			<li><ul>film /
				<li class="inner">gaffing</li>
				<li class="inner">editing</li>
				<li class="inner">color grading</li>
			</ul></li>
			<li><ul>management /
				<li class="inner">art direction</li>
				<li class="inner">creative direction</li>
				<li class="inner">product management</li>
			</ul></li>
	</section>
</main>

{% endblock content %}
